body {
  font-family: helvetica, sans-serif;
  max-width: 600px;
}

div {
  height: 200px;
  background-position: cover;
  position: relative;
}

p {
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 1);
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
}

.first {
  background: url('../images/firstcourse.jpg');
}

.second {
  background: url('../images/secondcourse.jpg');
}

.dessert {
  background: url('../images/dessertcourse.jpg');
}